/* 首頁 */
.tvbs-customized-191127.chp001-191127 h2.title {
  font-size: 24px;
}

/* 賣場 */
.tvbs-customized-191127.csp001-191127.item-event {
  height: initial;
  line-height: initial;
  display: flex;
}

.tvbs-customized-191127.csp001-191127 label.cart-label {
  font-size: 16px;
  font-weight: bold;
  height: 22px;
  line-height: 20px;
}

.tvbs-customized-191127.csp001-191127 span.cart-link--event {
  font-size: 16px;
  font-weight: bold;
}

/* 組合活動(N選M,紅配綠) */
@media screen and (max-width: 767px) {
  .tvbs-customized-191127.cpc-191127.event-banner__content
    .title_block
    .subtitle {
    font-weight: bold;
  }
}

.tvbs-customized-191127.cpc-191127.item-event__fixed .item-counts,
.tvbs-customized-191127.cpc-191127.item-event__fixed .price-total {
  font-size: 14px;
  color: #e84242;
  font-weight: bold;
}

/* 購物車第一步 */
@media screen and (max-width: 1024px) {
  .tvbs-customized-191127 .cop001-191127-delete-btn-col {
    width: 45px;
  }
}

@media screen and (max-width: 991px) {
  .tvbs-customized-191127 .cop001-191127-delete-btn-col {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .tvbs-customized-191127 .cop001-191127-bb-1:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  .tvbs-customized-191127 .cop001-191127-addition-title {
    margin-top: 2px !important;
  }
}

@media screen and (min-width: 992px) {
  .tvbs-customized-191127 .cop001-191127-market-title-col {
    width: 200px;
  }

  .tvbs-customized-191127 .cop001-191127-market-price-col,
  .tvbs-customized-191127 .cop001-191127-market-subtotal-col {
    width: 93px;
  }

  .tvbs-customized-191127 .cop001-191127-price-center,
  .tvbs-customized-191127 .cop001-191127-subtotal-center {
    text-align: center;
  }
}

.tvbs-customized-191127 .cop001-191127-fs-16 {
  font-size: 16px;
}

.tvbs-customized-191127 .cop001-191127-pr-0 {
  padding-right: 0;
}

.tvbs-customized-191127 .cop001-191127-pl-0 {
  padding-left: 0;
}

.tvbs-customized-191127 .cop001-191127-market-soldout {
  display: none;
}

.cop001-191127-dropdown-container > div > ul {
  width: 190px;
}

.tvbs-customized-191127 .cop001-191127-discount-code-w {
  width: 120px;
}

.tvbs-customized-191127 .cop001-191127-label {
  width: initial;
  padding-right: 4px;
  padding-left: 4px;
}

/* 購物車第二步 */
@media screen and (max-width: 992px) {
  .tvbs-customized-191127 .cop002-191127-bb-1:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  .tvbs-customized-191127 .cop002-191127-w-20 {
    width: 20%;
  }

  .tvbs-customized-191127 .cop002-191127-w-30 {
    width: 30%;
  }

  .tvbs-customized-191127
    .cop002-191127-not-market-bb-20
    > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .tvbs-customized-191127 .cop001-191127-coupon-mobile-block {
    display: flex;
    justify-content: space-between;
  }

  .tvbs-customized-191127 .cop002-191127-invoice-code-input {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .tvbs-customized-191127 .cop002-191127-addr-select {
    width: 154px;
  }

  .tvbs-customized-191127
    .form-fulladdr
    .cop002-191127-addr-select[name='zone2'] {
    margin-right: 0px !important;
  }

  .tvbs-customized-191127 .cop002-191127-invoice-code-input {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .tvbs-customized-191127 .cop002-191127-market-title-col {
    width: 200px;
  }

  .tvbs-customized-191127 .cop002-191127-market-price-col,
  .tvbs-customized-191127 .cop002-191127-market-subtotal-col {
    width: 93px;
  }

  .tvbs-customized-191127 .cop002-191127-price-center,
  .tvbs-customized-191127 .cop002-191127-subtotal-center {
    text-align: center;
  }

  .tvbs-customized-191127
    .form-fulladdr
    .cop002-191127-addr-select[name='zone2'] {
    width: 100px;
  }

  .tvbs-customized-191127 .form-fulladdr .cop002-191127-addr-input {
    width: 260px;
  }
}

.tvbs-customized-191127 .cop002-191127-fs-16 {
  font-size: 16px;
}

.tvbs-customized-191127 .cop002-191127-w-100 {
  width: 100%;
}

/* 購物車第三步 */
@media screen and (max-width: 767px) {
  .tvbs-customized-191127 .cop003-191127-point-layout {
    display: -webkit-inline-box;
  }
}

@media screen and (min-width: 992px) {
  .tvbs-customized-191127 .cop003-191127-market-title-col {
    width: 200px;
  }

  .tvbs-customized-191127 .cop003-191127-market-price-col,
  .tvbs-customized-191127 .cop003-191127-market-subtotal-col {
    width: 93px;
  }

  .tvbs-customized-191127 .cop003-191127-price-center,
  .tvbs-customized-191127 .cop003-191127-subtotal-center {
    text-align: center;
  }
}

.tvbs-customized-191127 .cop003-191127-fs-16 {
  font-size: 16px;
}
